<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>  
    <div class="w-full h-full p-10 text-white bg-zinc-900">
        <a href="/read" class="px-6 py-3 mb-6 inline-block bg-blue-500/20 border border-blue-400/30 rounded-lg backdrop-blur-md hover:bg-blue-500/30 transition-all">Read Users</a>
        <form action="/create" method="POST">
            <h1 class="text-3xl tracking-tighter mb-3">Create User</h1>
            <input class="px-5 py-2 bg-zinc-800 border-2 border-zinc-400 outline-none rounded-md" type="text" placeholder="Name" name="name">
            <input class="px-5 py-2 bg-zinc-800 border-2 border-zinc-400 outline-none rounded-md" type="text" placeholder="Email" name="email">
            <input class="px-5 py-2 bg-zinc-800 border-2 border-zinc-400 outline-none rounded-md" type="text" placeholder="Image url" name="image">
            <input class="px-5 py-2 bg-blue-500 rounded-md ml-3" type="submit" value="Create User">
        </form>
    </div>
</body>
</html>